/*.note{
  width: 50%
}*/

.complete{
  text-decoration: line-through;
}

p[contenteditable=true]{
  background-color: rgba(169, 170, 169, 0.6);
}

.row{
  margin: 10px;
}

.btn{
  margin: 10px;
}

.note{
  font-size: 20px;
}
